h1 {
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

body {
    background-color: #efdfe5;
    text-align: center;
}

button {
  border: 3px solid #27374D;
  border-radius: 50%;
  font-weight: bold;
  background-color: #9aabb7;
  padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    display: inline;
}

.table-border {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

th, td {
    border: 3px solid #27374D;
    background-color: #aec3d0;
    padding: 8px;
    text-align: left;
}

ul {
  background-color: #aec3d0;
  padding: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 5px;
  border-radius: 40%;
  border: 4px solid #526D82;
  display: inline-block;
  text-align: center;
}

li::marker {
  content: 'â¤ ';
  color: #f7c5e2;
}

.text {
  display: inline-block;
  background-color: #aec3d0;
  border-radius: 50%;
  margin: 10px;
  padding: 15px;
  border: 4px solid #526D82;
}

.bold {
  font-weight: bold;
}

.img-container {
  text-align: center;
}

.img-container > div {
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .img-container > div {
    display: block;
    margin: 10px auto;
  }
}